body{
    background-color: rgba(65, 65, 64, 0.329);
}
#titulo, h2{
    margin: auto;
    width: auto;
    padding: 5px 1%;
    text-align: center;
}
div{
    background-color: rgb(245, 247, 248);
    margin: auto;
    width: 50%;
    border: 0px;
    padding: 1px 5%;
    text-align: justify; 
}
p{
    text-indent: 30px;
}
.imagens_intro{
    float: auto;
    width: 300px;
    height: 200px;
    padding: 2%;
}

#world_wide{
    display: flex;
    gap: 20px;
}

#tim{
    width: 160px;
    height: 210px;
    order: 1;
}
table, th, td{
    margin: auto;
    border: 1px solid black;
    text-align: center;
}
tfoot{
    background-color: aquamarine;
}
caption{
    font-size: 20px;
}


   