body{
    background-color: rgba(65, 65, 64, 0.329);
}
#titulo, h3, h2, h1{
    margin: auto;
    width: auto;
    padding: 5px 1%;
    text-align: center;
}
.curriculo{
    margin: auto;
    width: auto;
    padding: 5px 1%;
    text-align: left;
}
#requisicao{
    border: 3px black solid;
    margin: auto;
    text-align: center;
}
.fundo{
    background-color: rgb(245, 247, 248);
    margin: auto;
    max-width: 600px;
    border-radius: 10px;
    padding: 1px 50px;
    text-align: justify;
    box-shadow: 0 0 10px black;
}
p{
    text-indent: 30px;
}
.imagens_intro{
    float: flex;
    justify-content: space-around;
    width: 285px;
    height: 200px;
    padding: 1%;
}

.world_wide{
    display: flex;
    gap: 20px;
}

.foto_perfil{
    margin-top: 15px;
    border-radius: 10px;
    width: 170px;
    height: 200px;
    order: 1;
}
table, th, td{
    border-collapse: collapse;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(179, 226, 211);
}
th{
    background-color: rgb(70, 119, 103);
}
caption{
    font-size: 20px;
}
.imagens_gerais{
    float: auto;
    width: 585px;
    padding: 1%;
}
.cabecalho_curriculo{
    display: flex;
    align-items: center;
}
.foto_perfil1{
    margin-top: 15px;
    border-radius: 10px;
    width: 170px;
    height: 200px;
    order: 1;
}
#contatos{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
#sumario{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
textarea{
    width: 100%;
    border-radius: 5px;
}
.sem_identacao{
    text-align: center;
}
input, select{
    border-radius: 5px;
    font-size: 16px;
    
}
#botao{
    display: flex;
    justify-content: center;   
}
button{
    border-radius: 5px;
    cursor: pointer;
    background-color: wheat;
}
a:hover{
    background-color: yellowgreen;
    font-size: 18px;
}





   